.App {
  text-align: center;


}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box{
  position: relative;
  width: 1px;
  height: 1px;
  transition: all .5s;
}
.item{
  position: absolute;
  right: 0;
  top: -1rem;
  text-align: right;
  line-height: 1rem;
  opacity: .5;
  transition: all .5s;
}
.item.active{
  opacity: 1;
  font-size:0.9rem;
}
.month{
  width: 188px;
  right: -61px;
}


.day{
  width: 399px;
  right: -185px;
}

.week{
  width: 305px;
  right: -121px;
}

.hour{
  width: 597px;
  right: -287px;
}
.Minute{
  width: 508px;
  right: -239px;
}
.second{
  width: 700px;
  right: -329px;
}


.msg{
  position: absolute;
  left: 2rem;
  top: 2rem;
  text-align: left;
  line-height: 2rem;
  width: 300px;
}
.msg div{
  opacity: .8;
}
.msg .year{
  margin-bottom: 1rem;
  opacity: 1;
}

.msg .year span{
  font-size: 2rem;
}

.M_month{
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  font-size: 2rem;
}